In [1]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [22]:
df= pd.read_csv("pima-indians-diabetes.csv", header = None)
df

      0    1   2   3    4     5      6   7  8
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [23]:
df.columns=["A","B","C","D","E","F","G","H","I"]
df

      A    B   C   D    E     F      G   H  I
0     6  148  72  35    0  33.6  0.627  50  1
1     1   85  66  29    0  26.6  0.351  31  0
2     8  183  64   0    0  23.3  0.672  32  1
3     1   89  66  23   94  28.1  0.167  21  0
4     0  137  40  35  168  43.1  2.288  33  1
..   ..  ...  ..  ..  ...   ...    ...  .. ..
763  10  101  76  48  180  32.9  0.171  63  0
764   2  122  70  27    0  36.8  0.340  27  0
765   5  121  72  23  112  26.2  0.245  30  0
766   1  126  60   0    0  30.1  0.349  47  1
767   1   93  70  31    0  30.4  0.315  23  0

[768 rows x 9 columns]

In [24]:
y = df["I"]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: I, Length: 768, dtype: int64

In [25]:
x= df.drop(["I"],axis=1)
x

      A    B   C   D    E     F      G   H
0     6  148  72  35    0  33.6  0.627  50
1     1   85  66  29    0  26.6  0.351  31
2     8  183  64   0    0  23.3  0.672  32
3     1   89  66  23   94  28.1  0.167  21
4     0  137  40  35  168  43.1  2.288  33
..   ..  ...  ..  ..  ...   ...    ...  ..
763  10  101  76  48  180  32.9  0.171  63
764   2  122  70  27    0  36.8  0.340  27
765   5  121  72  23  112  26.2  0.245  30
766   1  126  60   0    0  30.1  0.349  47
767   1   93  70  31    0  30.4  0.315  23

[768 rows x 8 columns]

In [26]:
y=pd.DataFrame(y)
y

     I
0    1
1    0
2    1
3    0
4    1
..  ..
763  0
764  0
765  0
766  1
767  0

[768 rows x 1 columns]

In [27]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=10)
x_train.shape

(576, 8)

In [28]:
y_train.shape

(576, 1)

In [29]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)

C:\Users\CSLab\AppData\Local\Temp\ipykernel_6680\3683334690.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(x_train,y_train)

RandomForestRegressor()

In [30]:
model.predict(x_test)

array([0.61, 0.16, 0.46, 0.01, 0.25, 0.  , 0.  , 0.59, 0.05, 0.43, 0.02,
       0.3 , 0.84, 0.28, 0.02, 0.78, 0.74, 0.06, 0.13, 0.72, 0.49, 0.4 ,
       0.15, 0.3 , 0.16, 0.69, 0.26, 0.23, 0.75, 0.97, 0.12, 0.06, 0.02,
       0.16, 0.32, 0.13, 0.16, 0.19, 0.78, 0.01, 0.39, 0.12, 0.54, 0.12,
       0.55, 0.25, 0.27, 0.09, 0.55, 0.41, 0.  , 0.98, 0.29, 0.37, 0.49,
       0.08, 0.04, 0.11, 0.39, 0.  , 0.05, 0.08, 0.  , 0.23, 0.1 , 0.66,
       0.74, 0.25, 0.18, 0.65, 0.79, 0.45, 0.23, 0.39, 0.08, 0.12, 0.64,
       0.71, 0.02, 0.06, 0.02, 0.93, 0.04, 0.23, 0.33, 0.73, 0.38, 0.34,
       0.72, 0.14, 0.18, 0.2 , 0.  , 0.06, 0.  , 0.03, 0.8 , 0.07, 0.07,
       0.38, 0.5 , 0.32, 0.64, 0.49, 0.05, 0.5 , 0.83, 0.66, 0.42, 0.47,
       0.22, 0.57, 0.38, 0.21, 0.58, 0.07, 0.03, 0.46, 0.12, 0.83, 0.03,
       0.  , 0.35, 0.31, 0.4 , 0.45, 0.12, 0.18, 0.31, 0.01, 0.78, 0.47,
       0.55, 0.03, 0.01, 0.23, 0.47, 0.79, 0.92, 0.71, 0.42, 0.  , 0.53,
       0.13, 0.82, 0.24, 0.34, 0.68, 0.71, 0.36, 0.26, 0.04, 0.45, 0.  ,
       0.77, 0.11, 0.04, 0.7 , 0.2 , 0.08, 0.18, 0.63, 0.21, 0.02, 0.31,
       0.45, 0.34, 0.33, 0.03, 0.33, 0.58, 0.  , 0.01, 0.62, 0.79, 0.47,
       0.25, 0.65, 0.02, 0.49, 0.07, 0.  , 0.18, 0.23, 0.03, 0.14, 0.13,
       0.45, 0.03, 0.04, 0.09, 0.95])

In [31]:
model.score(x_test,y_test)

0.2857671516703528

In [32]:
deci_tree =DecisionTreeClassifier(criterion ="entropy") # By default gini
deci_tree.fit(x_train,y_train)
prediction=deci_tree.predict(x_test)

In [33]:
accuracy_hold=accuracy_score(y_test,prediction)
a1= accuracy_hold*100
print( " Accuracy for Decision Tree",a1 ,"%")

 Accuracy for Decision Tree 69.79166666666666 %

In [34]:
knn = KNeighborsClassifier()
knn.fit(x_train,y_train)
prediction2 = knn.predict(x_test)
print("Accuracy for K-nearest ")
a2 = accuracy_score(y_test,prediction2)
print(a2 *100)

Accuracy for K-nearest
70.3125

C:\Users\CSLab\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
C:\Users\CSLab\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [35]:
nb=GaussianNB()
nb.fit(x_train,y_train)
prediction_nb =nb.predict(x_test)

print("Accuracy of Test Data")
nb_score=accuracy_score(y_test,prediction_nb)

a3 = nb_score*100
print("Naive Bayes Accuracy :",a3,"%")

Accuracy of Test Data
Naive Bayes Accuracy : 72.39583333333334 %

C:\Users\CSLab\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [36]:
from sklearn import svm
sv = svm.SVC(kernel='linear') # Linear Kernel

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_standard = scaler.fit_transform(x_train)
x_test_standard = scaler.transform(x_test)
sv.fit(x_train_standard, y_train)
y_pred = sv.predict(x_test_standard)

C:\Users\CSLab\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [38]:
sv.fit(x_train_standard, y_train)
sv.score(x_test_standard, y_test)

C:\Users\CSLab\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.734375

In [39]:
from sklearn import metrics
svm_score =accuracy_score(y_test, y_pred)
a4= svm_score*100
print("SVM Accuracy :", a4,"%")

SVM Accuracy : 73.4375 %